@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Academia</h1>
    <p>Bienvenido al sistema Academia</p>
</div>

<div class="text-center">
    <a href="@Url.Action("Index", "Usuarios")" class="btn btn-primary">Ir a Usuarios</a>
    <a href="@Url.Action("Index", "Especialidads")" class="btn btn-primary">Ir a Especialidades</a>
</div>
